@import url('https://fonts.googlepis.com/css?family=poppins:300,400,500,600,700,800,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    margin-top: 100px; /* Adjust body margin to make space for the fixed header */
    height: calc(100vh - 190px); 
    width:100vw;
    height:100vh;
    background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: cover; /* This will cover the entire container with the background image */
    background-attachment: fixed; 
    background-size: 400% 400%;
    animation: animateBg 15s ease infinite;
}

@keyframes animateBg {
    0% { background-position: 0% }
    50% { background-position: 100% }
    100% { background-position: 0% }
}  

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:20px;
    padding: 30px 3px; /* Adjust padding as needed */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(31, 31, 31,0.4);
    transition:top 0.3s;
    position:fixed;
}
header.show {
    top: -10;
}

header .logo {
    font-weight: 700;
    color: #fff;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.5s;
    animation:glow 0.8s ease infinite;
}
@keyframes glow{
    from{color:grey;}

to{color:white;
    text-shadow: 
    0 0 5px #2ff108,
    0 0 25px #2ff108,
    0 0 50px #2ff108,
    0 0 4px #2ff108;
}
}
* {
  box-sizing: border-box;
}

.search-bar {
  position: relative;
  width: 100%;
  max-width: 400px; /* Adjust max-width as needed */
  margin: 0 auto;
  display: flex; /* Use flexbox */
}

.search-text {
  flex: 1; /* Allow the input to grow and shrink */
  padding: 10px;
  outline: none;
  border: 1px solid #2ff108;
  border-radius: 5px 0 0 5px;
  transition: background-color 0.5s;
  background-color: rgba(231, 13, 184, 0.1);
}

.search-text::placeholder {
  color: rgb(47, 241, 8);
}

.search-text:focus {
  background-color: #fff;
}

.btn-search {
  width: 40px;
  background-color: rgb(47, 241, 8);
  outline: none;
  border: none;
  color: white;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .search-bar {
    max-width: 200px; /* Adjust max-width for smaller screens */
  }
  .btn-search{
    width:50px;
  }
}


.nav-list {
    display: flex;
    justify-content: flex-end; /* This will move the ul list to the end of the header */
    align-items: center;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    padding: 6px 15px;
}

header ul li a:hover,
header ul li a.active {
    background: #fff;
    color: #2b1055;
    border:3px solid #2ff108;
    border-radius: 50px;
}
/* ******************* HEADER END****************************/
.slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto; 
    padding:20px; 
    box-sizing: border-box;
}

.slide {
    background-color: rgba(255, 255, 255, 0.5); 
    border: 2px solid #000; 
    border-radius: 10px; 
    width: 70%; 
    height: 300px;
    display: grid;
    justify-content: center;
    box-sizing: border-box; 
    padding: 1px; 
    position: relative;
    box-shadow: rgba(240, 225, 6, 0.12) 0px 2px 4px 2px, rgba(249, 249, 5, 0.32) 0px 2px 16px 2px;
}
h2 {
    margin-top: 0; 
}
.image-container {

    display: grid;
    transition: transform 0.5s ease; 
}
.image {
    width: 1037px;
    height:295px;
    display: none;
    border-radius: 10px;
}

.image.active {
    display: block;
    bottom:30px;
}
.dots-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.dot {
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.dot.active {
    background-color: rgb(35, 240, 8);
}
/* *************Moving CARD Ended*************************** */


.card-containers {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: left;
  }
  
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    margin: 20px; /* Adjust spacing between cards */
    perspective: 1000px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
  }
  .flip-card:hover{ 
    box-shadow: rgba(7, 232, 49, 0.12) 0px 2px 4px 2px, rgba(5, 247, 33, 0.32) 0px 2px 16px 2px;
    transition:0.3s;
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 5px;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
    border-radius: 5px;
  }
  .content-wrapper {
    text-align: center; /* Center text inside the content wrapper */
  }
  
  /* Style the back side */
  .flip-card-back {
    /* background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%); */
    background-image: linear-gradient(to right, #DECBA4, #3E5151);
    color: white;
    transform: rotateY(180deg);
    position:relative;
    display: flex; /* Add flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    border-radius: 5px;
  }

  .download-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;bottom:10px;
  }
  .info-option {
    position: absolute;
    top: 10px;
    right: 10px;
    height:20px;
    width:20px;
    font-size: 20px;
    cursor: pointer;
    border:2px solid white;
    border-radius: 50%;
    transition: transform 0.3s ease;
    user-select: none;
  }
  .card-details {
    position:absolute;
    height:200px;
    width:200px;
    align-items: center;
    justify-content: center;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0,0.8);
    padding: 2px;
    border-radius: 10px;
    display:none;
    transform-style: preserve-3d;
  }
  .card-details::before {
    content: "";
    position: absolute; 
    inset: 0px;
    background: conic-gradient(from 90deg at 40% -25%, #ffd700, #f79d03, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03, #ffd700, #ffd700, #ffd700);
    filter: blur(10px);
    transform: translate3d(0px,0px,-1px);
    border-radius: inherit;
    pointer-events: none;
  }
 
.flip-card-back:hover .info-option {
  transform: scale(1.1); 
}
  #action{
    font-size: 30px;
    font-weight: 700;
    font-family:'poppins', sans-serif; 
    color:white;
    padding-top:3px;
  }
  marquee{
    background-color:rgba(0,0,0,0.5);
    width:100%;
    height:40px;
    border:1px solid white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .arrow-container {
    position: relative;
     left: 50px;
    top: 150px; 
  }
  .circle-arrow {
    width: 50px; /* Adjust size of the circle */
    height: 50px; /* Adjust size of the circle */
    border-radius: 50%; /* Make it a circle */
    background-color: #007bff; /* Color of the circle */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Color of the arrow */
  }
  
  .circle-arrow span {
    font-size: 25px;
    font-weight: 400; /* Adjust size of the arrow */
  }
  #seemore{
    color:#fff;
   position:relative;
   left:-20px;
   top:2px;
  }
  .card-containers a{
    text-decoration: none;
  }
  footer {
    background: linear-gradient(to right, #00093c, #3e1001); /* Background gradient */
    margin-top: 260px; /* Adjust margin as needed */
    bottom: 0; /* Stick it to the bottom */
    height:260px;
    width: 100%; /* Full width */
    color: #fff; /* Text color */
    font-size: 13px; /* Font size */
    line-height: 20px; /* Line height */
  
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
   
  }

  .logo-section {
    flex: 1;
    padding:40px;
    color:white;
    font-size: 15px;
    font-weight:bold;
    justify-content: flex-start;
    align-items: left;

    
  }

  .details-section {
    flex: 2;
    text-align: center;
    padding: 40px 30px;
  }
  .details-section p{
    color:white;
    font-size: 15px;
    opacity:0.6;
  }

  .contact-section {
    flex: 3;
    text-align: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 40px;
  }
.copyright{
  text-align: center;
}
.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-tiktok, .fa-youtube, .fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}


.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #d211df;
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  border-color:#fff;
}
  

  
  